*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

body{
    scroll-behavior: smooth;
}

/* Hide scrollbar (chrome, safari, opera) */
body::-webkit-scrollbar{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 95%;
    position: fixed;
    transition: top 0.3s;
    /* Ensure the navabr stays on top of other content */
    z-index: 1000;
    padding: 10px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
}

.navbar-text{
    display: flex;
    margin-top: 9px;
}

.navbar-logo img{
    height: 120px;
}

.navbar-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Navbar Text */

.navbar-menu li{
    margin-left: 20px;
}

.navbar-menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: color 0.3s;
}


.navbar-menu .recent-page a{
    color: #e00013;
}

.navbar-menu li a:hover{
    color: #e00013;
}

/* Styling Button */
.product-button{
    background-color: transparent;
    border: #e00013 2px solid;  
    padding: 8px 16px;
    cursor: pointer;
    transition: border 0.4s;
    transition: color 0.37s;
    text-align: center;
    color: #e00013;
}

.section1{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(214,0,0,1) 100%);
    width: 100%;
    height: 1600px;
    color: white;
    text-align: center;
}

.section1 h1{
    padding-top: 200px;
    padding-bottom: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    margin-bottom: 30px;
}

.item{
    text-align: center;
}

.item img{
    width: 200px;
}

.item h4{
    padding-top: 1px;
    font-weight: 500;
}

.footer{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: rgb(111,0,0);
    background: linear-gradient(0deg, rgba(111,0,0,1) 0%, rgba(177,0,0,1) 69%, rgba(214,0,0,1) 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.footer-content button{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    border: #002B5B 2px solid;
    background-color: #1c1c1c00;
    color: white;
    transition: color 0.5s;
    transition: background-color 0.7s;
}

.footer-content button:hover{
    border: #002B5B 2px solid;
    background-color: #002B5B;
    color: #FFDE00;
}

.socmed{
    margin-top: 20px;
}

.socmed ul{
    list-style: none;
    display: flex;
}

.socmed li a{
    font-size: 20px;
    color: white;
    font-style: none;
    margin-left: 42px;
    font-size: 40px;
}

.copyright{
    padding-top: 50px;
}

.copy-img{
    width: 200px;
}